@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: sans-serif;
    padding: 50px;
    background-image: url(https://i.pinimg.com/564x/dd/47/8e/dd478e6eeb938939584f7cdf208c8387.jpg);
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #5E3023;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  h2 {
    font-size: 30px;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  h1, h2 {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-family: Impact, serif;
  }
  p {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: #52291e;
  }
  
  .menu {
    width: 80%;
    background-color: #f0e2d1;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 500px;
    border-color: #5E3023;
    border-radius: 30px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: -70px;
  }
  hr {
    height: 2px;
    background-color: #aa662b;
    border-color: #aa662b;
    height: 2px;
    background-color: #aa662b;
    border-color: #aa662b;
    width: 490px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .produto, .preco {
    text-align: left;
    width: 75%;
    font-family: Impact, serif;
  }

  .sub {
    font-size: 25px;
    text-align: left;
  }
  
  .preco {
    text-align: right;
    width: 25%;
  }
  
h3 {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: #52291e;
    font-family: Impact, serif;
    font-size: 30px;
}
h4 {
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: #52291e;
    font-size: 20px;
}
  
.rodape {
    font-size: 14px;
    text-align: center;
  }
